:root {
  --navbar-bg-color: #ffffff;
  --card-bg-color: #ffffff;
  --text-white: #ffffff;
  --spring-green-color: #6db33f;
  --version-green-color: #8fdf82;
  --button-color: #111111;
  --projects-color: #eaf2f2;
  --text-card-description: #555555;
  --nav-menu-color: #191e1e;
  --nav-menu-dropdown-text: #98afae;
}
