.container {
  padding: 0 2rem;
}

.extra-padding {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.light-grey {
  background-color: var(--projects-color);
}

.green-bar {
  background: linear-gradient(45deg, #6db33f 26%, #80ea6e 89%);
  width: 100%;
  height: 6px;
}
