.auth-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.auth-form-card {
  background-color: var(--navbar-bg-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.auth-form-card h2 {
  color: #333;
  margin-bottom: 25px;
  font-size: 1.8em;
  font-weight: 600;
}

.auth-form-card form div {
  margin-bottom: 15px;
  text-align: left;
}

.auth-form-card label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.auth-form-card input[type='text'],
.auth-form-card input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

.auth-form-card input[type='text']:focus,
.auth-form-card input[type='password']:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--text-card-description);
}

.auth-form-card button[type='submit'] {
  width: 100%;
  padding: 12px;
  background-color: var(--version-green-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.auth-form-card button[type='submit']:hover {
  background-color: var(--spring-green-color);
}

.error-message {
  color: #dc3545;
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 500;
}
