.nav-links__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 0.9em;
  font-weight: 600;
}

@media (min-width: 1000px) {
  .nav-links__list {
    display: flex;
  }
}
